<p><a href="/">Back to index</a></p>
<h1>Detalhes do pedido #{{ pedido.id }}</h1>
<ul>
    <li><b>#Pedido:</b> {{pedido.id }}</li>
    <li><b>Cliente:</b> {{ pedido.pedido_cliente_id }} - {{pedido.pedido_cliente }}</li>
    <li><b>Data:</b> {{ pedido.pedido_date }}</li>
    <li><b>Tipo de pagamento:</b> {{ pedido.pedido_pagamento }}</li>
    <li><b>Produtos:</b></li>
    {% for p in produto %}
        <ul>
            <li>{{ p.quantidade }} x <a href='/produtos/{{ p.produto_id }}'>{{ p.produto }},</a>
                {% if p.pedido.pedido_cliente.cliente_lista_precos == 'tb1' %}
                    (<b>Preço:</b> R${{ p.produto.produto_preco_tb1 }})</li>
                {% elif p.pedido.pedido_cliente.cliente_lista_precos == 'tb2' %}
                    (<b>Preço:</b> R${{ p.produto.produto_preco_tb2}})</li>
                    {% elif p.pedido.pedido_cliente.cliente_lista_precos == 'tb3' %}
                    (<b>Preço:</b> R${{ p.produto.produto_preco_tb3}})</li>
                {% endif %}
        </ul>
    {% endfor %}
    <li><b>Sub total:</b> {{ pedido.pedido_sub_total }}</li>
    <li><b>Status:</b> {{ pedido.pedido_status }}</li>
</ul>