{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Innatura - Produtos Orgânicos</title>
  <link href="{% static 'img/favicon.ico' %}" rel="icon">

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/landing-page.min.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="https://www.innaturabrotos.com.br"><img src="{% static 'img/innatura_logo.png' %}" alt="Innatura logo" height="60px"></a>
      <a class="btn btn-primary" href="http://127.0.0.1:8000/admin/login/?next=/admin/" target="_blank">Acesso restrito</a>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Bem vindos à Innatura Brotos!</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form action="/clientes/" method="get">
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                {{ form }}
              </div>
              <div class="col-12 col-md-3">
                <button id="q" type="submit" class="btn btn-block btn-lg btn-primary">Buscar</button>
              </div>
            </div>
          </form>

          <ul>

          </ul>

        </div>
      </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>Alfafa</h3>
            <p class="lead mb-0">Lorem ipsum</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>Trevo</h3>
            <p class="lead mb-0">Lorem ipsum</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>Brotos</h3>
            <p class="lead mb-0">Lorem ipsum</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{% static "img/showcase-1.png" %}');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Mais de 20 anos de tradição!</h2>
          <p class="lead mb-0">Nossos brotos tem vencido o campeonato internacional de brotos de Viamão desde o primeiro ano em que competimos!</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url({% static 'img/showcase-2.png' %});"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Nosso CEO é o cara mais bonito de Viamão!</h2>
          <p class="lead mb-0">Ralfe, mais conhecido como Rufos é vencedor do prêmio beleza do ano 1989 e 1990!</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url({% static 'img/showcase-3.png' %});"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Temos o maior latifundio de Viamão!</h2>
          <p class="lead mb-0">Quando comparado aos outros produtores de Brotos de Viamão, nosso latifundio é pelo menos 17x maior!</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">O que os nossos clientes falam...</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{% static 'img/logo_nurs_et.jpeg' %}" alt="">
            <h5>Nurs Et</h5>
            <p class="font-weight-light mb-0">"Todos pensam que o steak é o nosso astro principal. Não, são os brotos...."</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{% static 'img/logo_barranco.jpeg' %}" alt="">
            <h5>Restaurante Barranco</h5>
            <p class="font-weight-light mb-0">"Se somos o que somos hoje, com certeza devemos tudo ao Ralfe."</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{% static 'img/logo_pizza_hut.png' %}" alt="">
            <h5>Pizza Hut</h5>
            <p class="font-weight-light mb-0">"Só conseguimos expandir de Porto Alegre para o mundo com a ajuda da Innatura!"</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Busque seu pedido</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form action="/clientes/" method="get">
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                {{ form }}
              </div>
              <div class="col-12 col-md-3">
                <button id="q" type="submit" class="btn btn-block btn-lg btn-primary">Buscar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">Sobre</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contato</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Produtos</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Ceasa</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Innatura Brotos {% now 'Y' %}. Todos os direitos reservados.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
